<!-- <h1>user</h1>

<table>
    <thead>
        <tr>
            <td>User-Name</td>
            <td>User-Email</td>
            <td>User-Password</td>
        </tr>
    </thead>
    <tbody> -->
        <%#@users.each do |user| %>
        <!-- <tr>
        <td><%#= user.name %></td>
        <td><%#= user.email %></td>
        <td><%#= user.password_digest %></td>
        
        <td><%#= link_to "delete", user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>|</td>
        </tr>
        <%# end %>
    </tbody>
</table>
 -->

